
h4
{
	padding: 60px 0px 20px 0px;
}


/* MAIN FRAME */

#main-frame
{
	height: 400px;
	margin: 0px auto;
	background: url('images/afyr2.png') center;
}

#main-frame h2
{
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	padding: 260px 0px 20px 0px;
	margin-bottom: 20px;
	text-shadow: 1px 1px #ffffff;
}


/* INTRO */

#intro
{
	height: 400px;
	text-align: center;
}

/* DOUBLE */
#double
{
	height: 500px;
	text-align: center;
	background-color: #efefef;
}

#double p
{
	text-align: justify;
	padding: 20px 10px;
}

#double div div
{
	float: left;
	width: 50%;
}

/* STEPS */
#steps
{
	height: 600px;
}

ol
{
	list-style: none;
}

.left
{
	text-align: left;
	border-bottom: 1px solid #efefef
}

.right
{
	text-align: right;
	border-bottom: 1px solid #efefef
}

#steps h3
{
	padding-top: 20px;
}

#steps p
{
	padding: 20px 0px;
}

/* FORM */

#ask
{
	height: 400px;
	background:#e6e6e6;
	font-family:'Montserrat', sans-serif;
	padding-top: 50px;
}

.btn-form
{
	display: block;
	margin: 0px auto;
	width: 140px;
	height: 50px;
	background-color: #ff7a00;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 50px;
	border-radius: 6px;
}

.btn-form:hover
{
	background-color: #02b8dd;
}

form 
{
	display: none;
	margin: 0px auto;
}

form label
{
	margin-right: 40px;
	font-size: 20px;
	font-weight: bold;
	color: #777;
	padding: 10px 0px;
	display: flex;
}

form input[type=text]
{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	border: 2px solid #ddd;
	border-radius: 3px;
}

#basic-info
{
	float: left;
}

#message
{
	padding: 10px;
	font-size: 20px;
	margin-right: 20px;
	display: inline-block;
}

textarea[name=message]
{
 resize : both;
 min-width : 100px;
 min-height : 100px;
 max-width : 400px;
 max-height : 200px;
}
